html, 
body,
header,
#intro{
  height: 100%
}
body{
  font-family: 'Ubuntu', sans-serif;
}

#intro{
  background: url("../images/1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
nav a{
  font-size: 1.4rem;
  margin-left: 2rem;
        

}

nav h4{
  font-size: 1.5rem;
  font-weight: bold;
}

.navright{
 margin-left: 55rem;
}

#mainhead{
  font-weight: lighter;
  font-size: 1.3rem;
}

.navbar-nav{
text-align: center;  
}

#heading{
  margin-top:10rem;
}

#zen{
  font-size: 6rem;
  text-shadow: 4px 4px #bfe6ff;
}

.skills{
background-color: #9f9fff;
color: white;
padding-bottom: 5rem;
}
.skills ul {
  padding-left: 2rem;
  list-style-type: none;
}

.skills ul li {
  padding-left: 2rem;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;

}
.skills h1{
  font-size: 4rem;
  
}
.skills p{
  font-size: 1.6rem;
}

.work{
background-color: #7700EE;
color: white;

}
.work h1{
  font-size: 4rem;
  text-align: center;
}

#mainh4{
  line-height: 3rem;
}

.imgmargin{
  margin-top: 13rem;
}